.admin_nav_cont1{
    margin: 0px !important;
    padding: 0px !important;
}
.admin_nav{
    background-color: #61b846 !important;
    margin: 0px !important;
}
.admin_logo{
    width: 40px;
}
.signOutBtn{
    width: 70px;
    height:30px;
    padding: 0 !important;
    font-size: 12px !important;
}
.admin_nav_links{
    color: white !important;
}